<!DOCTYPE html>
<html lang="fa">

<head>

    <meta charset="utf-8">
    <title>سامانه جامع اطلاع رسانی موسسه فرهنگی آسمانه</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="سامانه جامع اطلاع رسانی">
    <meta name="author" content="Reza Safaeiyan">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/fonts.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/index/index_style.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/font-awesome/css/font-awesome.min.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/common.css') }}">

    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body>

<div class="header">
    <div class="container">
        <div class="row">
            <div class="logo col-md-12">
                <h1>سامانه جامع اطلاع رسانی موسسه فرهنگی آسمانه</h1>
            </div>
        </div>
    </div>
</div>

<div class="register-container container">
    <div class="row">
        <div class="register col-md-6 col-md-offset-3">
            <form action="{{ reverse_url('login') }}" method="post">
                <h2>ورود به سیستم</h2>

                <label for="username" class="st">نام کاربری</label>
                <input type="text" id="username" name="_uname" placeholder="نام کاربری را وارد کنید.">

                <label for="password">گذرواژه</label>
                <input type="password" id="password" name="_pass" placeholder="گذرواژه را وارد کنید.">
                <button type="submit">ورود به سیستم</button>
                {% module xsrf_form_html() %}

                {% if handler.has_error() %}
                {% for m in handler.get_errors() %}
                <div class="colorRed font-size-10 text-center margin-10-center">{{ m }}</div>
                {% end %}
                {% end if %}
                <input type="hidden" name="time_login" value="first">
            </form>
        </div>
    </div>
</div>

<!-- Javascript -->
<script type="text/javascript" src="{{ static_url('plugins/jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/index_script/jquery.backstretch.min.js') }}"></script>


</body>

</html>

