<html dir="rtl">
<head>
<meta charset="UTF-8">
    <title>به با مدرسه خوش آمدید !</title>
</head>
<body style="direction: rtl;">
    <div style="width: 100%; height: 650px; direction: rtl;font-family:b yekan , tahoma;">
        <div style="margin: 0 auto; width:70%; height: 200px; border-radius: 10px;">
            <div style="padding: 10px; text-align: right; background: #63A0DD; border-radius: 7px 7px 0 0; color: #fff;">

                <span style="font-family: b yekan , tahoma; font-size: 20pt; text-align: right; display: inline-block; vertical-align: middle;margin-right:30px">با مدرسه</span>


            </div>
            <div style="background: white; text-align: right; padding: 10px; border-radius: 0 0 7px 7px; border: 1px solid #ccc; box-shadow: 0 0 2px #A9A9A9;font-family:b yekan , tahoma;; font-size: 11pt">
                <div style="display: block; margin-top: 10px">
                    <span style="color:#474747">  با تشکر از عضویت شما در بامدرسه</span>
                </div>
                <div style="display: block; margin-top: 10px">
                    <a href="http://bamadrese.ir/System/ActiveEmail/{{ active_code }}" style="margin-right: 50px;color:blue">برای فعالسازی پروفایل اینجا کلیک کنید.</a>
                </div>
                <div style="display: block; margin-top: 20px">
                    <span style="color:#474747">با مدرسه مفتخر است خدمات زیر را به شما ارائه نماید: </span>
                </div>
                <div style="display: block; margin-top: 10px">
                    <span style="color:#474747">از جمله امکانات بامدرسه:</span>
                </div>
                <div style="display: block; margin-top: 10px">
                    <span style="margin-right: 50px;color:#474747">امکال ارسال اخبار مدرسه </span>
                </div>
                <div style="display: block; margin-top: 10px">
                   <span style="margin-right: 50px;color:#474747">امکان ارسال نظرسنجی برای والدین</span>
                </div>
                <div style="display: block; margin-top: 10px">
                   <span style="margin-right: 50px;color:#474747">ایجاد برنامه غذایی و هفتگی برای مدرسه</span>
                </div>
                <div style="display: block; margin-top: 10px">
                   <span style="margin-right: 50px;color:#474747">امکال ارسال پیام برای والدین</span>
                </div>
                <div style="display: block; margin-top: 10px">
                   <span style="margin-right: 50px;color:#474747">ارسال نمرات </span>
                </div>
                <div style="display: block; margin-top: 10px">
                   <span style="margin-right: 50px;color:#474747">تالار گفتگو</span>
                </div>

                <div style="display: block; margin-top: 10px">
                    <span style="margin-right: 50px;color:#474747">و ...</span>
                </div>
                <div style="display: block; margin-top: 10px;text-align: center">
                    <a href="http://bamadrese.ir/" style="font-size: 14pt;color:#474747">صفحه اصلی با مدرسه</a>

                </div>
            </div>
       
    </div>
    </div>
</body>
</html>