{% extends "../../dashboard_template.html" %}

{% block other_head %}
<link rel="stylesheet" type="text/css" href="{{ static_url('plugins/select2/select2_metro_rtl.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ static_url('css/public/public.css') }}"/>
{% end other_head body %}

{% block container %}

<div class="col-md-11 col-sm-12 margin-right-30">
    {% set m = handler.get_flash('msg') %}
    {% if m != None %}
    <div class="row margin-0">
        <div class="colorGreen font-size-10 col-md-12 text-center margin-10-center">{{ m }}</div>
    </div>
    {% end if %}


    {% if subsystems %}
    <form action="" method="post">
        <div class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-4 control-label">زیرسیستم :</label>

                    <div class="col-md-4">
                        <select class="select" name="subsystem">
                            {% for i in subsystems %}

                            {#                            <option  value="{{ i['id'] }}">{{ i['name'] }}</option>#}
                            <option{% if  sub_id !="all" %} {% if i['id']== int(sub_id) %}selected{% end %}{% end %}
                                                            value="{{ i['id'] }}">{{ i['name'] }}</option>
                            {#                        <input type="hidden" name="subsystem_se" value="{{ i['id'] }}">#}
                            {% end %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button class="R_butt_blue _select">جستجو</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" value="search" name="search">
        {% module xsrf_form_html() %}
    </form>
    {% end %}


    <div class="colorGreen font-size-10 col-md-12 text-center del_msg display-none "></div>
    <div class="clearfix"></div>
    <div class="_list">

        <div class="row _header text-center">
            <div class="col-md-1 col-sm-1 col-xs-1">ردیف</div>
            <div class="col-md-2 col-sm-2 col-xs-2">کاربر</div>
            <div class="col-md-2 col-sm-2 col-xs-2">عنوان خبر</div>
            <div class="col-md-2 col-sm-2 col-xs-2">تاریخ</div>
            <div class="col-md-3 col-sm-3 col-xs-3">متن</div>
            <div class="col-md-2 col-sm-2 col-xs-2">تائید</div>
        </div>

        {% set cnt = 1 %}
        {% for i in new_comments %}
        <div class="row {% if cnt % 2 %}_row_g{% else %}_row_w{% end %} text-center" data-id="{{ i['id'] }}">

            <div class="col-md-1 col-sm-1 col-xs-1">{{ cnt }}</div>
            <div class="col-md-2 col-sm-2 col-xs-2 __text font-size-9">{{ i['user']['name'] }}</div>
            <div class="col-md-2 col-sm-2 col-xs-2 __text font-size-9">{{ i['news']['name'][0:20] }}...</div>
            <div class="col-md-2 col-sm-2 col-xs-2 __text font-size-8">{{ i['date'] }}</div>
            <div class="col-md-3 col-sm-3 col-xs-3 __text">{{ i['text'] }}</div>
            <div class="col-md-2 col-sm-2 col-xs-2 __butts" data-id="{{ i['id'] }}">
                <button class="butt accept" data-id="{{ i['id'] }}"><i class="fa fa-check"></i></button>
                <button class="butt delete" data-id="{{ i['id'] }}"><i class="fa fa-times"></i></button>
            </div>
        </div>
        {% set cnt += 1 %}
        {% end %}

        {% if cnt == 1 %}
        <div class="row _row_w text-center">
            <div class="col-md-12 col-sm-12 col-xs-12 font-size-10">موردی وجود ندارد.</div>
        </div>
        {% end %}


    </div>


</div>

<div class="margin-30-center clearfix"></div>

<div class="row padding-0 margin-0">
    <div class="col-lg-12">
        <h4 class="page-header">نظرات قبلی</h4>
    </div>
</div>

<div class="col-md-11 col-sm-12 margin-right-30">
    <div class="clearfix"></div>
    <div class="_list">

        <div class="row _header text-center">
            <div class="col-md-1 col-sm-1 col-xs-1">ردیف</div>
            <div class="col-md-2 col-sm-2 col-xs-2">کاربر</div>
            <div class="col-md-2 col-sm-2 col-xs-2">عنوان خبر</div>
            <div class="col-md-2 col-sm-2 col-xs-2">تاریخ</div>
            <div class="col-md-4 col-sm-4 col-xs-4">متن</div>
            <div class="col-md-1 col-sm-1 col-xs-1">تائید</div>
        </div>
        <div id="result_container">
            {% set cnt = 1 %}
            {% for i in comments %}
            <div class="row {% if cnt % 2 %}_row_g{% else %}_row_w{% end %} text-center" data-id="{{ i['id'] }}">

                <div class="col-md-1 col-sm-1 col-xs-1">{{ cnt }}</div>
                <div class="col-md-2 col-sm-2 col-xs-2 __text font-size-9">{{ i['user']['name'] }}</div>
                <div class="col-md-2 col-sm-2 col-xs-2 __text font-size-9">{{ i['news']['name'][0:20] }}...</div>
                <div class="col-md-2 col-sm-2 col-xs-2 __text font-size-8">{{ i['date'] }}</div>
                <div class="col-md-4 col-sm-4 col-xs-4 __text">{{ i['text'] }}</div>
                <div class="col-md-1 col-sm-1 col-xs-1 __butts" data-id="{{ i['id'] }}">
                    <button class="butt delete" data-id="{{ i['id'] }}"><i class="fa fa-times"></i></button>
                </div>
            </div>
            {% set cnt += 1 %}
            {% end %}

            {% if cnt == 1 %}
            <div class="row _row_w text-center">
                <div class="col-md-12 col-sm-12 col-xs-12 font-size-10">موردی وجود ندارد.</div>
            </div>
            {% end %}

            <div class="row _loading display-none" id="page_loader">
                <div class="col-md-12 margin-top-30">
                    <div class="loading display-block"></div>
                </div>
            </div>

        </div>
    </div>


</div>

<div class="margin-30-center clearfix"></div>
{% end block container %}


{% block bottom_script %}
<script type="text/javascript" src="{{ static_url('plugins/underscore/underscore.js') }}"></script>
<script type="text/javascript" src="{{ static_url('plugins/select2/select2.min.js') }}"></script>
<script type="text/html" id="__rows">
    <div class="row <%= row_color %> text-center" data-id="<%= id %>">
        <div class="col-md-1 col-sm-1 col-xs-1"><%= cnt %></div>
        <div class="col-md-2 col-sm-2 col-xs-2 __text font-size-9"><%= name %></div>
        <div class="col-md-3 col-sm-3 col-xs-3 __text font-size-8"><%= date %></div>
        <div class="col-md-4 col-sm-4 col-xs-4 __text"><%= text %></div>
        <div class="col-md-2 col-sm-2 col-xs-2 __butts" data-id="<%= id %>">
            <button class="butt delete" data-id="<%= id %>"><i class="fa fa-times"></i></button>
        </div>
    </div>
</script>
<script type="text/javascript">
    $("[data-toggle=tooltip]").tooltip();
    $(".select").select2();
    $(document).on("click", ".butt.delete", function () {
        var _id = $(this).attr("data-id");

        if (!confirm("آیا مطمئن هستید ؟")) {
            return;
        }

        $.ajax({
            url: "{{ url("system_comments") }}",
            type: "post",
            data: {"method": "delete", "_id": _id, _xsrf: '{{ handler.xsrf_token }}'},
            success: function (resp) {
                if (resp['status']) {
                    $(".row[data-id=" + _id + "]").slideToggle();
                    $(".del_msg").text("حذف با موفقیت انجام شد.").fadeIn().delay(2000).fadeOut();
                } else {
                    $(".del_msg").text("خطا در حذف اطلاعات").fadeIn().delay(2000).fadeOut();
                }
            }
        });
    });
    $(document).on("click", ".butt.accept", function () {
        var _id = $(this).attr("data-id");

        $.ajax({
            url: "{{ url("system_comments") }}",
            type: "post",
            data: {"method": "accept", "_id": _id, _xsrf: '{{ handler.xsrf_token }}'},
            success: function (resp) {
                if (resp['status']) {
                    $(".row[data-id=" + _id + "]").slideToggle();
                    $(".del_msg").text("تائید با موفقیت انجام شد.").fadeIn().delay(2000).fadeOut();
                } else {
                    $(".del_msg").text("خطا در تائید اطلاعات").fadeIn().delay(2000).fadeOut();
                }
            }
        });
    });

    var glob_input = {_xsrf: '{{ handler.xsrf_token }}', page: 1};

    var loading = $("#page_loader");

    var page = 1;
    var is_loading = false;
    var is_any_more = true;

    $(window).scroll(function () {

        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            if (is_any_more && is_loading == false) //there's more data to load
            {
                glob_input['page']++;
                is_loading = true;
                loading.show();
                {#                res.hide();#}
                $.ajax({
                    type: 'put',
                    data: glob_input,
                    success: function (data) {
                        var j = "";
                        var cnt = ((glob_input['page'] - 1) * 15) + 1;
                        if (data['status']) {
                            if (data['data']) {
                                for (var i in data['data']) {
                                    j += _.template($("#__rows").html())(
                                            {
                                                id: data['data'][i]['id'],
                                                name: data['data'][i]['user']['name'],
                                                row_color: (cnt % 2) ? "_row_g" : "_row_w",
                                                cnt: cnt,
                                                date: data['data'][i]['date'],
                                                text: data['data'][i]['text']
                                            }
                                    );
                                    cnt++;
                                }
                                $("#result_container").append(j);
                            } else {
                                is_any_more = false;
                            }
                        }

                        if (!data['more']) {
                            is_any_more = false;
                        }
                        {#                        res.show();#}
                        {#                        re_height();#}
                        loading.hide();
                        is_loading = false;
                    }
                });

            }
        }
    });

</script>
{% end block bottom_script %}