<div class="search_box col-md-4 col-sm-4 col-xs-4">
    <div class="font-size-15">جستجوی مراکز آموزشی</div>
    <div class="margin-10-center">
        <form method="post" action="{{ reverse_url("index_search") }}">
            <div class="input-group">
                <div class="input-group-addon inp-group width-100-darsad padding-0">
                    <input class="form-control" name="keyword" placeholder="نام را وارد کنید...">
                </div>
                <div class="input-group-addon inp-group padding-0">
                    <button class="transition"><i class="fa fa-search vertical-middle"></i></button>
                </div>
                {% module xsrf_form_html() %}
            </div>
        </form>
    </div>
</div>