<div class="rBox margin-30-center">
    <div class="head">آمار سیستم</div>
    <div class="body padding-0 last_news">

        <div class="row padding-ver-5 padding-hr-15">
            <div class="col-md-4 col-sm-2 col-xs-2 _row">
                <span class="_static img-thumbnail">{{ schools }}</span>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-10 _row">
                <span class="colorDarkFirooze font-size-15">مرکز آموزشی</span>

                <div class="pub padding-0">مراکز آموزشی فعال</div>
                <hr>
            </div>
        </div>


        <div class="row padding-ver-5 padding-hr-15">
            <div class="col-md-4 col-sm-2 col-xs-2 _row">
                <span class="_static img-thumbnail">{{ users }}</span>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-10 _row">
                <span class="colorDarkFirooze font-size-15">کاربران سیستم</span>

                <div class="pub padding-0">کاربران سیستم مجازی آموزش با مدرسه</div>
                <hr>
            </div>
        </div>

        <div class="row padding-ver-5 padding-hr-15">
            <div class="col-md-4 col-sm-2 col-xs-2 _row">
                <span class="_static img-thumbnail">{{ news }}</span>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-10 _row">
                <span class="colorDarkFirooze font-size-15">خبر</span>

                <div class="pub padding-0">اخبار مراکز آموزشی</div>
                <hr>
            </div>
        </div>

        <div class="row padding-ver-5 padding-hr-15">
            <div class="col-md-4 col-sm-2 col-xs-2 _row">
                <span class="_static img-thumbnail">{{ views }}</span>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-10 _row">
                <span class="colorDarkFirooze font-size-15">بازدید کل</span>

                <div class="pub padding-0">تعداد بازدید کاربران از مراکز آموزشی</div>
                <hr>
            </div>
        </div>

{#        <div class="row">#}
{#            <div class="col-md-12 text-right">#}
{#                <a class="show_more" href="#">مشاهده بیشتر ...</a>#}
{#            </div>#}
{#        </div>#}

    </div>
</div>