<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">

    <title>سیستم جامع اطلاع رسانی | صفحه یافت شد</title>

    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/bootstrap/css/bootstrap-rtl.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/bootstrap/theme/bootstrap-theme.min.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/fonts.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/font-awesome/css/font-awesome.min.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/index/index2.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/common.css') }}">

    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">

</head>
<body>



<div class="_note_container">
    <div class="cont">
        <div class="emo fa fa-frown-o"></div>
        <div class="cnt2">
            <div class="_txt font-size-36">متاسفانه صفحه مورد نظر پیدا نشد.</div>
            <div class="_txt margin-10-center">در صورتی که از وجود صفحه مطمئن هستید ، با مدیریت سیستم در تماس باشید.</div>
            <div class="_txt display-inline-block margin-10-center cursor-pointer" onclick="history.back()">بازگشت به صفحه قبل</div>
        </div>
    </div>
</div>


<footer>کلیه حقوق محفوظ است.</footer>


</body>
</html>